<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Footstix</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../site_media/css/bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" href="../site_media/css/BasicScoring.css" />
  <link rel="stylesheet" href="../site_media/css/FormStyles.css" />
  <link rel="stylesheet" href="../site_media/css/autoComplete.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

</head>
  <body>
    <section class="footistixHeader">
      <div class="mainHeaderContent">
        <a class="navbar-brand footTitle" href="#">Footistix: Insert Logo</a>
        
        
        {% if user.is_authenticated %}
        
        <form action="/profile">
          <button type="submit">Your profile</button>
        </form>
        
        Hello {{user.username}}
        <form method="post">{% csrf_token %}<input type="text" name="logout" value="logout" hidden><button class="logoutBtn" type="submit">LogOut</button></form>
        
        {% else%}
        <div class="loginArea">
          <button class="loginBtn">Login</button>
          <button class="signUpBtn">Sign Up</button>
        </div>
        {%endif%}
      </div>
      <div class="center">
        <div class="container loginHidden">
          <label for="" class="close-btn fas fa-times"></label>
          <div class="text">Login Form</div>
          <form method="post" action="/login/">{% csrf_token %}
            <div class="data">
              <label>Username</label>
              <input type="text" name="username" required />
            </div>
            <div class="data">
              <label>Password</label>
              <input type="password" name="password" required/>
            </div>
            <div class="forgot-password"><a href="#">Forgot Password?</a></div>
            <div class="btn">
              <div class="inner"></div>
              <button type=submit>Login</button>
            </div>
            <div class="signup-link">Not a member? <a class="signUpBtn"href="#">Sign up</a></div>
          </form>
  
        </div>
        </div>
        
        <div class="center">
          <div class="container signUpHidden">
            <label for="" class="close-btn fas fa-times"></label>
            <div class="text">Create Account</div>
            
            <form method="post" action="/register/">{% csrf_token %}
              
              <div class="data ">
                <label>Username</label>
                <input class="usernameInput" type="text" name="username" placeholder="Username"required />
              </div>
              <div class="data">
                <label>Email</label>
                <input class="emailInput" type="email" name="email" required placeholder="Email" />
                
              </div>
              <div class="data">
                <label>Password</label>
                <input class="passwordInput" type="password" name="password1" placeholder="Password"required/>
              </div>
              <div class="data">
                <label>Repeat Password</label>
                <input class="passwordRepeatInput" type="password" name="password2" placeholder="Repeat Password"required/>
              </div>
              <div class="btn">
                <div class="inner"></div>
                <button class="initialiseSignUp"type=submit>Sign Up</button>
              </div>
              <div class="login-link">Already a member?<a class="loginBtn" href="#">Login</a></div>
            </form>
  
          </div>
  
      </div>
  
    </section>
  
    <div class="wrapper">
      <form autocomplete="off" >
        <div class="search-input">
          <input type="text" id = "playerSearchField" required placeholder="SEARCH">
          <div class="autocom-box">
          </div>
          <div class="icon"><i class="fas fa-search"></i></div>
        </div>
      </form>
    </div>
  
      <!-- <section class="playerArea">
        <div class="timer">
          <label id="minutes">00</label>:<label id="seconds">00</label>
          </div>
          
          

        <div class="listArea">
          <div class="playerImage">
            <img src=""/>
            </div>
  
              

          <ul class="playerList">
            <div class="playerName">Name:
              <label id="playerName">Please Search for a Player</label>
            </div>
  
  
            <div class="slidecontainer">
              <h6 class="var1">Crossing:</h6>
              <label id="crossingLabel">50</label>
              <input type="range" min="0" max="100" value="50" class="slider" id="crossingRange" oninput="changeValue(this);" onchange="startTimer();">
            </div>
            <div class="slidecontainer">
              <h6 class="var1">Through pass:</h6>
              <label id="through_passLabel">50</label>
              <input type="range" min="0" max="100" value="50" class="slider" id="through_passRange" oninput="changeValue(this);" onchange="startTimer();">
            </div> 
            <div class="slidecontainer">
              <h6 class="var1">Vision:</h6>
              <label id="visionLabel">50</label>
              <input type="range" min="0" max="100" value="50" class="slider" id="visionRange" oninput="changeValue(this);" onchange="startTimer();">
            </div>
            </ul>
  
            {% if user.is_authenticated %} 
            {% if user.is_active %} 
            <button class="btn btn-primary" type="submit" id="btnSubmit" onclick="sendRating()">Submit</button>
            {% else %}          
            <button class="btn btn-primary" type="submit" id="btnSubmit" onclick="alert('Please activate your account')">Submit</button>
            {%endif%}
            {% else %}
            <button class="btn btn-primary" type="submit" id="btnSubmit" onclick="showLogin()">Submit</button>
            {% endif %}
            
          </div>

      </section> -->
      <script src="../site_media/js/autoComplete.js"></script>
      
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

      <script src="../site_media/js/allPlayers_Teams.js"></script>
      <script src="../site_media/js/autoComplete.js"></script>
      <script type="text/javascript"> 
      
      function sendEmail() {
        var emailAddress = $(".emailInput")[0].value
        var userName = $(".usernameInput")[0].value
        var activation_link = 'http://127.0.0.1:8000/activate_profile/'+ '{{request.user.id}}'
        var emailContents = "Hello, " + userName + " " + "Welcome to Footistix" +"Please activate your account: " + activation_link
          Email.send({
            Host: "smtp.gmail.com",
            Username: footistixEmail,
            Password: footistixEmailPassword,
            To: emailAddress,
            From: "footistix@gmail.com",
            Subject: "Footistix Registration Email",
            Body: emailContents,
          })
            .then(function (message) {
              alert("Please Check your email")
            });
        }
     
        console.log('{{now}}')
        console.log('{{now_user}}')
        
     </script>
   
    
    <script src="../site_media/js/bootstrap/bootstrap.min.js"></script>
    <script src="../site_media/js/BasicScoring.js"></script>
    
    <script src="https://kit.fontawesome.com/e88761baa0.js" crossorigin="anonymous"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
   
  </body>
</html>
