<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    
    <h2>Hello {{name}}</h2>
   
    <h2>You have {{profile_only_points.points}} points</h2>
    {% if user.is_active == False%} 
        <h3>Please activate your account here: <a href="http://127.0.0.1:8000/activate_profile/{{request.user.id}}">LINK</a></h3>
        
        
    {%endif%}
    
    <form action="/">
        <button type="submit" style="font-size: large;">Go back to home</button>
    </form>
</body>
</html>