   <!DOCTYPE html>
   <html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="../site_media/css/bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" href="../site_media/css/BasicScoring.css" />
        <link rel="stylesheet" href="../site_media/css/FormStyles.css" />
        <link rel="stylesheet" href="../site_media/css/autoComplete.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
       <title>Document</title>
   </head>
   <body>
    <section class="footistixHeader">
        <div class="mainHeaderContent">
          <a class="navbar-brand footTitle" href="/">Footistix: Insert Logo</a>
          
          <div class="wrapper">
            <form autocomplete="off" >
              <div class="search-input">
                <input type="text" id = "playerSearchInput" required placeholder="SEARCH">
                <div class="autocom-box">
                </div>
                <div class="icon"><i class="fas fa-search"></i></div>
              </div>
            </form>
          </div>
          
          {% if user.is_authenticated %}
          <form action="/profile">
            <button type="submit">Your profile</button>
          </form>
          
          Hello {{user.username}}
          <form method="post">{% csrf_token %}<input type="text" name="logout" value="logout" hidden><button class="logoutBtn" type="submit">LogOut</button></form>
          
          {% else%}
          <div class="loginArea">
            <button class="loginBtn">Login</button>
            <button class="signUpBtn">Sign Up</button>
          </div>
          {%endif%}
        </div>
        <div class="center">
          <div class="container loginHidden">
            <label for="" class="close-btn fas fa-times"></label>
            <div class="text">Login Form</div>
            <form method="post" action="/login/">{% csrf_token %}
              <div class="data">
                <label>Username</label>
                <input type="text" name="username" required />
              </div>
              <div class="data">
                <label>Password</label>
                <input type="password" name="password" required/>
              </div>
              <div class="forgot-password"><a href="#">Forgot Password?</a></div>
              <div class="btn">
                <div class="inner"></div>
                <button type=submit>Login</button>
              </div>
              <div class="signup-link">Not a member? <a class="signUpBtn"href="#">Sign up</a></div>
            </form>
    
          </div>
          </div>
          
          <div class="center">
            <div class="container signUpHidden">
              <label for="" class="close-btn fas fa-times"></label>
              <div class="text">Create Account</div>
              
              <form method="post" action="/register/">{% csrf_token %}
                
                <div class="data ">
                  <label>Username</label>
                  <input class="usernameInput" type="text" name="username" placeholder="Username"required />
                </div>
                <div class="data">
                  <label>Email</label>
                  <input class="emailInput" type="email" name="email" required placeholder="Email" />
                  
                </div>
                <div class="data">
                  <label>Password</label>
                  <input class="passwordInput" type="password" name="password1" placeholder="Password"required/>
                </div>
                <div class="data">
                  <label>Repeat Password</label>
                  <input class="passwordRepeatInput" type="password" name="password2" placeholder="Repeat Password"required/>
                </div>
                <div class="btn">
                  <div class="inner"></div>
                  <button class="initialiseSignUp"type=submit>Sign Up</button>
                </div>
                <div class="login-link">Already a member?<a class="loginBtn" href="#">Login</a></div>
              </form>
    
            </div>
    
        </div>
    
      </section>
    <img src="{{team.logo_path}}" alt="">
    <p>Full name: {{team.name}}</p>
    <label>Rival teams:</label>
    <ul>
        {% for rival in rivals%}
            <li>{{rival.name}}</li>
        {% endfor%}
        
    </ul>
    <p>League: {{team.league.data.name}}</p>
    <p>Coach: {{team.coach.data.fullname}}</p>
    <p>Stadium: {{team.venue.data.name}}</p>
    <p>Stadium capacity: {{team.venue.data.capacity}}</p>
    <p>Stadium location: {{team.venue.data.coordinates}}</p>
    <label for="">Latest lineup:</label>
    <ul>
    {% for latest in team.latest.data %}
    {% if forloop.last %}
      {% for player in latest.lineup.data %}
        <li>{{player.player_name}}</li>
      {%endfor%}
    {% endif %}
  {%endfor%}
</ul>
    <label for="">Standings:</label>
    <ul>
      <li>Games player: {{standings.overall.games_played}}</li>
      <li>Won: {{standings.overall.won}}</li>
      <li>Draw: {{standings.overall.draw}}</li>
      <li>Lost: {{standings.overall.lost}}</li>
      <li>Goals scored: {{standings.overall.goals_scored}}</li>
      <li>Goals against: {{standings.overall.goals_against}}</li>
      <li>Recent form: {{standings.recent_form}}</li>
    </ul>
    <label for="squad">Squad:</label>
    <ul class="squad">
        {% for player in team.squad.data %}
            <li>{{player.player.data.display_name}}</li>
        {%endfor%}
    </ul>
    <table style="text-align: center;">
      <tr>
        <th colspan="3">Last 5 games scores</th>
      </tr>
      <tr>
        <th>Home</th>
        <th></th>
        <th>Visitor</th>
        <th>Home</th>
        <th></th>
        <th>Away</th>
      </tr>
      {%for match in lastGames %}
      <tr>
        <td>{{match.localTeam}}</td>
        <td>-</td>
        <td>{{match.visitorTeam}}</td>
        <td>{{match.localScores}}</td>
        <td>-</td>
        <td>{{match.visitorScores}}</td>
      </tr>
    {%endfor%}
    </table>

    <br>

    <table style="text-align: center;">
      <tr>
          <th colspan="4">Upcoming five matches</th>
      </tr>
      <tr>
        <th>Home</th>
        <th>Visitor</th>
        <th>Date Time</th>
        <th>Time Zone</th>
      </tr>
      
      {% for match in nextGames%}
        <tr>
          <td>{{match.localTeam}}</td>
          <td>{{match.visitorTeam}}</td>
          <td>{{match.time}}</td>
          <td>{{match.timezone}}</td>
        </tr>
      {%endfor%}
  </table>
    
    <br>
    
    <label for="stats">Statistics:</label>
    <ul class="stats">
        {% for stats in team.stats.data %}
          {% if forloop.last %}
            <li>Attacks: {{ stats.attacks }}</li>
            <li>Dangerous attacks: {{ stats.dangerous_attacks }}</li>
            <li><label for="stats_win">Win</label></li>
            <ul class="stats_win">
                <li>Total: {{stats.win.total}}</li>
                <li>Home: {{stats.win.home}}</li>
                <li>Away: {{stats.win.away}}</li>
            </ul>

            <li>Yellow cards: {{ stats.yellowcards }}</li>
            <li>Red cards: {{ stats.redcards }}</li>
          {% endif %}
        {%endfor%}
       
      </ul>
    
   
    
   </body>
   </html> 
    