<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footistix</title>
    <link rel="stylesheet" href="../site_media/css/player_main.css" />
    <link rel="stylesheet" href="../site_media/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../site_media/css/FormStyles.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
</head>
<body>
    <section class="header">
        <div class="header-div">
            <div class="logo">
                <img src="../site_media/logo_text.png" alt="" width="130px" height="20px">
            </div>
            <div class="head-menu">
                <a href="">Compare</a>
                <a href="">Clubs</a>
                <a href="">Players</a>
                <a href="">About us</a>
                <a href="">Contact</a>
                <a href="">FAQ</a>
            </div>
            <div class="search-bar">
                <form autocomplete="off" >
                    <div class="search-input">
                      <input type="text" id = "playerSearchInput" required placeholder="SEARCH">
                      <div class="autocom-box">
                        <i class="fa-regular fa-magnifying-glass"></i>
                      </div>
                    </div>
                  </form>
            </div>
            <div class="devider"></div>
        {% if user.is_authenticated %}
            <div class="user">{{user.username}}</div> <i class="fa-regular fa-user"></i>
            <!-- <form action="/profile">
                <button type="submit" >Your profile <span class="glyphicon glyphicon-user"></span></button>
              </form> -->
            
            <form method="post">{% csrf_token %}<input type="text" name="logout" value="logout" hidden><button class="logoutBtn" type="submit">LogOut</button></form>
        
        {% else%}
            <div class="loginArea">
              <button class="loginBtn">Log in</button>
              <button class="signUpBtn">Sign Up</button>
            </div>
        {%endif%}
          </div>
        </div>
      <div class="center">
        <div class="container loginHidden">
          <label for="" class="close-btn fas fa-times"></label>
          <div class="text">Login Form</div>
          <form method="post" action="/login/">{% csrf_token %}
            <div class="data">
              <label>Username</label>
              <input type="text" name="username" required />
            </div>
            <div class="data">
              <label>Password</label>
              <input type="password" name="password" required/>
            </div>
            <div class="forgot-password"><a href="#">Forgot Password?</a></div>
            <div class="btn">
              <div class="inner"></div>
              <button type=submit>Login</button>
            </div>
            <div class="signup-link">Not a member? <a class="signUpBtn"href="#">Sign up</a></div>
          </form>
  
        </div>
        </div>
        <div class="center">
            <div class="container loginHidden">
              <label for="" class="close-btn fas fa-times"></label>
              <div class="text">Login Form</div>
              <form method="post" action="/login/">{% csrf_token %}
                <div class="data">
                  <label>Username</label>
                  <input type="text" name="username" required />
                </div>
                <div class="data">
                  <label>Password</label>
                  <input type="password" name="password" required/>
                </div>
                <div class="forgot-password"><a href="#">Forgot Password?</a></div>
                <div class="btn">
                  <div class="inner"></div>
                  <button type=submit>Login</button>
                </div>
                <div class="signup-link">Not a member? <a class="signUpBtn"href="#">Sign up</a></div>
              </form>
      
            </div>
            </div>
            
            <div class="center">
              <div class="container signUpHidden">
                <label for="" class="close-btn fas fa-times"></label>
                <div class="text">Create Account</div>
                
                <form method="post" action="/register/">{% csrf_token %}
                  
                  <div class="data ">
                    <label>Username</label>
                    <input class="usernameInput" type="text" name="username" placeholder="Username"required />
                  </div>
                  <div class="data">
                    <label>Email</label>
                    <input class="emailInput" type="email" name="email" required placeholder="Email" />
                    
                  </div>
                  <div class="data">
                    <label>Password</label>
                    <input class="passwordInput" type="password" name="password1" placeholder="Password"required/>
                  </div>
                  <div class="data">
                    <label>Repeat Password</label>
                    <input class="passwordRepeatInput" type="password" name="password2" placeholder="Repeat Password"required/>
                  </div>
                  <div class="btn">
                    <div class="inner"></div>
                    <button class="initialiseSignUp"type=submit>Sign Up</button>
                  </div>
                  <div class="login-link">Already a member?<a class="loginBtn" href="#">Login</a></div>
                </form>
      
              </div>
              </div>
    </section>
    <section class="body">
        <div class="top-body">
          <div class="image">
            <img src="{{player.image_path}}" alt="" class="player-image">
          </div>
            
            <div class="player-name-team">
              <h3 class="player-name">{{player.display_name}}</h3>
              <h3 class="team-name">{{player.team.data.name}}</h3>
            </div>
            
            <div class="player-menu">
                <a href="">Rating</a>
                <a href="">Performance</a>
                <a href="">Results</a>
            </div>
        </div>
        <div class="right-body">
          <div class="rb-content">
            <table class="player-details">
              <tr>
                  <td>Nationality</td>
                  <td>{{player.nationality}}<span><img src="{{player.country.data.image_path}}" alt=""  width="50" height="30" style="border: 1px solid #111;"></span></td>
              </tr>
              <tr>
                  <td>Height</td>
                  <td>{{player.height}}</td>
              </tr>
              <tr>
                  <td>Weight</td>
                  <td>{{player.weight}}</td>
              </tr>
              <tr>
                  <td>Preffered foot</td>
                  <td>{{prefoot}}</td>
              </tr>
              <tr>
                  <td>Birth date</td>
                  <td>{{player.birthdate}}</td>
              </tr>
              <tr>
                  <td>Position</td>
                  <td>{{player.position.data.name}}</td>
              </tr>
             
          </table>
          <button class="vote-win">Vote and win</button>
        </div>
      </div>    

      <div class="center-body">
        <div class="radar">
          <canvas id="myChart" width="500" height="500"></canvas>
          <script>
            const ctx = document.getElementById('myChart').getContext('2d');
            const data = {
            labels: [
              'Passing  {{avrDefaults.passing}}' ,
              'Shoting  {{avrDefaults.shooting}}',
              'Physique {{avrDefaults.physique}}',
              'Defense  {{avrDefaults.defense}}',
              'Ball skills  {{avrDefaults.ballSkill}}'
            ],
            datasets: [{
              data: ['{{avrDefaults.passing}}', '{{avrDefaults.shooting}}', '{{avrDefaults.physique}}', '{{avrDefaults.defense}}', '{{avrDefaults.ballSkill}}'],
              fill: true,
              backgroundColor: 'rgba(255, 99, 132, 0.2)',
              borderColor: 'rgb(255, 99, 132)',
              pointBackgroundColor: 'rgb(255, 99, 132)',
              pointBorderColor: '#fff',
              pointHoverBackgroundColor: '#fff',
              pointHoverBorderColor: 'rgb(255, 99, 132)'
            }]
          };


        
            const myChart = new Chart(ctx,{
              type: 'radar',
              data: data,
              options: {
                scales:{
                  r:{
                      angleLines: {
                        display: false
                      },
                      suggestedMin: 0,
                      suggestedMax: 100
                    }
                },
                elements: {
                  line: {
                    borderWidth: 3
                  }
                }
              },
            });
            myChart.options.legend.display = false;  
          </script>
        </div>
        
      </div>
    </section>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../site_media/js/bootstrap/bootstrap.min.js"></script>
    <script src="../site_media/js/BasicScoring.js"></script>
    
    <script src="https://kit.fontawesome.com/e88761baa0.js" crossorigin="anonymous"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>

</body>
</html>